.navbar{
    background-color:white;
    box-shadow: 0 2px 6px #00000012;
    padding: 15px 0;
}
/* 
.navbar-home-page{
    background-color:transparent;
    box-shadow:none;
    position: absolute;
    z-index: 90;
    width: 100%;
} */
.navbar__logo{
    width: 200px;
}
.navbar__register-btn{
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width:180px;
    max-width: 16%;
    height:50px;
    background-color: var(--main-color);
    color: white;
    border-radius:4px;
    transition: var(--transition);
    font-family:'PoppinsSemiBold';
    outline:0;
    border:0
}
.navbar__register-btn:hover {
    opacity: .7;
    color: white !important;
}

.navbar__menu-btn{
    width: 45px;
    height: 45px;
    background-color: transparent;
    color:var(--main-color)
}
.navbar__profile-img{
    width: 50px;
    height: 50px;
    border: 1px solid var(--text-color-dark);
    border-radius: 50%;
    padding: 3px;
    object-fit: contain;
}
.navbar__menu-items{
    --marginEnd: 70px;
    letter-spacing: 0px;
    margin-right: var(--marginEnd);
    margin-inline-end: var(--marginEnd);
    font-weight: bold;
    padding: 0px;
    font-family: 'PoppinsBold';
    height: inherit!important;
    display: flex;
    align-items: center;
}
.navbar__menu-items:last-of-type{
    --marginEnd:0;
}
.navbar__menu-items a{
    color: var(--text-color-dark)!important;
    transition: var(--transition);
    position: relative;
}
.navbar__menu-items.active a{
    color: var(--main-color)!important;
}
.navbar__menu-items:hover a{
    color: var(--main-color)!important;
}
.navbar__menu-items a::before{
    --width:0%;
    content: '';
    position: absolute;
    bottom: 0;
    width:var(--width);
    right: calc(50% - var(--width)/2);
    height: 4px;
    background-color: var(--main-color);
    transition: var(--transition);
}
html[dir=rtl] .navbar__menu-items a::before{
    left: calc(50% - var(--width)/2);
}
.navbar__menu-items.active a::before{
    --width:70%;
}
.navbar__menu-items:hover a::before{
    --width:70%;
}
.navbar__search-btn{
    border: 0;
    outline: 0;
}
.navbar__search-icon{
    width:20px
}
.navbar-nav{
    position: relative;
}

.navbar__search-form{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    border-radius: 6px;
    opacity: 0; 
    transform:translateX(100%) scale(0);
    transition:var(--transition);
}
.navbar__search-form input{
    height:100%;
    color:var(--main-color);
    border-color: var(--main-color);

}
.navbar__search-form input:focus{
    box-shadow:none;
    border-color: var(--main-color);
    color:var(--main-color);
    
}
.navbar__search-form.active{
    transform:translateX(0) scale(1);
    opacity: 1
}

.portal__top-navbar-profile-dropdown-button{
    background-color:transparent!important;
    box-shadow:none!important;
}
.portal__top-navbar-profile-dropdown-button::after{
    border-top: 0.3em solid black;
}
.portal__top-navbar-profile-dropdown-img{
    width: 30px;
}
.portal__top-navbar-profile-dropdown-menu{
    animation:animateDropDownMenu .1s linear
}

@keyframes animateDropDownMenu {
    0%{
        display: none;
        transform: translate3d(0px, 80px, 0px);
    }
    100%{
        display: flex;
        transform: translate3d(0px, 10px, 0px);
    }
}

.navbar .dropdown-item{
    font-size:14px;
    color: var(--text-color-dark);
    font-family: 'PoppinsSemiBold';
    transition: var(--transition);
    padding: 12px 40px 12px 15px;
}
.navbar__account-icon{
    width:20px;
    height:20px;
    margin-right:10px;
}
.navbar__account-cont .dropdown-toggle::after{
    color: var(--main-color);
}
.navbar .dropdown-item.active,.navbar .dropdown-item:active ,.navbar .dropdown-item:hover{
    background-color: var(--main-color);
    color: white;
}
.navbar .dropdown-item:active{
    transition: var(--transition);
}
.navbar .dropdown-item svg path{
    transition:var(--transition)
}
.navbar .dropdown-item.active svg path,.navbar .dropdown-item:active svg path ,.navbar .dropdown-item:hover svg path{
    fill:white;
}
.navbar .dropdown-menu{
    display: block;
    transform: translate(180px);
    transition: var(--transitionEffect);
    /* opacity: 0 !important; */
    padding: 0;
    margin: 0;
    /* z-index: -1; */
}
.navbar .dropdown-menu.show{
    transform:translate(-50px,0);
    opacity: 1!important;
    z-index: 100;
}
@media (max-width:992px){
    .navbar__register-btn{
        max-width: 100%;
        width:100%
    }
    .navbar__register-btn{
        max-width: 100%;
        width:100%
    }
    .navbar__search-form.active{
        top: 65%;
        width: 90%;
        right: 0;
    }
    .nav-item{
        margin-bottom: 20px;
    }
}
