.reports{
    background: url('assets/imgs/portalReportsBG.png') no-repeat;
    background-size: cover;
    height: 230px;
    border-radius: 4px;
    padding: 60px 45px;
    display: flex;
    flex-direction: column;
    margin-bottom:30px
}
.reports__description{
    color:#FFFFFF;
    font-size:18px;
}
.reports__button{
    height: 40px;
    width: 140px;
    border-radius: 4px;
    background-color: white;
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-color);
    font-family: 'PoppinsSemiBold';
}